<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<mapping class="com.parking.hibernate.entity.CarCard" />
		<mapping class="com.parking.hibernate.entity.CardCustomer" />
		<mapping class="com.parking.hibernate.entity.Photo" />
		<mapping class="com.parking.hibernate.entity.Customer" />
	</session-factory>
</hibernate-configuration>